.NotesSidebar {
	background: #a19689;
	border-right: solid 1px #636463;
	color: white;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	-ms-grid-column: 1;
	grid-area: sidebar;
	align-self: stretch;
}

.NotesSidebar__title {
	margin: 0;
	font-size: 1.25rem;
	padding: 0.2rem;
}

.NotesSidebarItem {
	padding: 0 0.3rem;
	display: flex;
	flex-direction: row;
	border-top: solid 1px #636463;
	cursor: pointer;
}

.NotesSidebarItem.selected {
	background: #ead592;
}

.NotesSidebarItem__title {
	margin: 0.3rem 0;
	display: inline-block;
	flex: 1;
}
